{% extends 'FlowcodeShopBundle::shop.html.twig' %}

{% block products -%}
<div class="row">
    {% for entity in pagination %}
    <div class="col-sm-3">
        <div class="" style="padding: 10px;">
            <a href="{{ path('product_show', { 'slug': entity.slug }) }}">
                <img src="{{ asset( entity.getImage ) }}" alt="..." class="img-responsive">
            </a>
            <div class="caption" style="height: 200px;">
                <h5>{{ entity.name }}</h5>
                <p>
                    <small>{{ entity.description }}</small>
                </p>
            </div>
        </div>
    </div>
    {% else %}
    <div>no results</div>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
