{% extends 'FlowcodeShopBundle::shop.html.twig' %}

{% block products -%}
<h1>{{ entity.name }}</h1>
<div>{{ entity.description }}</div>
<div class="row">
    <div class="col-sm-6">
        <img src="{{ entity.getImage }}" class="img-responsive">
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    {{ entity.content }}
                </div>
                <div>
                    ${{ entity.price }}
                </div>
                <a href="#" class="btn btn-primary btn-lg" >Add to cart</a>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="{{ path('product') }}" class="btn btn-default" >
        Back to the list
    </a>
</div>
{% endblock %}
