{% extends 'FlowcodeShopBundle::shop.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/flowcodeshop/css/lightbox.css')}}" rel="stylesheet" />
    {{ parent() }}
{% endblock %}


{% block products -%}
<h2>{{ entity.name }}</h2>
<div>{{ entity.description }}</div>
<div class="row">
    <div class="col-sm-6">
        <img src="{{ entity.getImage }}" class="img-responsive">
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    {{ entity.content|raw }}
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
        {% for galleryItem in entity.getMediaGallery.getGalleryItems %}
                <div class="col-sm-4">
                    <a href="{{ asset(galleryItem.media.getWebPath) }}" class="thumbnail" data-lightbox="roadtrip">
                        <img src="{{ asset(galleryItem.media.getWebPath) }}" class="img-responsive">
                    </a>
                </div>
        {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
    <a href="{{ path('product') }}" class="btn btn-default" >
        Back to the list
    </a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/flowcodeshop/js/lightbox.min.js')}}"></script>
{% endblock %}
