{% extends '::backend.html.twig' %}

{% block body -%}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_dashboard') }}">{{ "home"|trans }}</a></li>
    <li><a href="{{ path('admin_project_dashboard') }}">{{ "projects dashboard"|trans }}</a></li>
    <li>{{ "project categorys"|trans }}</li>
</ol>
<div class="page-header">
    <h1>{{ "project categorys"|trans|title }}</h1>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_project_category_children', { 'id': rootcategory.id }) }}" class="btn btn-bg btn-primary">
                {{ "create new"|trans }}
            </a>
        </li>
    </ul>
</div>    

<table class="records_list table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>{{"name"|trans}}</th>
            <th>{{"actions"|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_project_category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('admin_project_category_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_project_category_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
