{% extends 'backend.html.twig' %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li>Shop Dashboard</li>
</ol>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_product') }}">
                    <div><i class="glyphicon glyphicon-bullhorn"></i></div>
                    {{ 'Products'|trans }}
                </a>
            </div>
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_shop_category') }}">
                    <div><i class="glyphicon glyphicon-picture"></i></div>
                    {{ 'Categorys'|trans }}
                </a>
            </div>
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_page') }}">
                    <div><i class="glyphicon glyphicon-leaf"></i></div>
                    {{ 'Orders'|trans }}
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}