{% extends 'backend.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Multimedia</h1>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_gallery') }}">
                    <div><i class="glyphicon glyphicon-list-alt"></i></div>
                    {{ 'gallerys'|trans }}
                </a>
            </div>
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_media_browser') }}">
                    <div><i class="glyphicon glyphicon-picture"></i></div>
                    {{ 'media files'|trans }}
                </a>
            </div>
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_page') }}">
                    <div><i class="glyphicon glyphicon-tags"></i></div>
                    {{ 'categorys'|trans }}
                </a>
            </div>

        </div>
    </div>
</div>


{% endblock %}