{% extends 'backend.html.twig' %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="{{ url('admin_dashboard') }}">{{ 'home'|trans }}</a></li>
    <li>{{ 'classification dashboard'|trans }}</li>
</ol>

<div class="page-header">
    <h1>{{ 'classification'|trans|title }}</h1>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_category') }}">
                    <div><i class="glyphicon glyphicon-list-alt"></i></div>
                    {{ 'categorys'|trans }}
                </a>
            </div>
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_collection') }}">
                    <div><i class="glyphicon glyphicon-list"></i></div>
                    {{ 'collections'|trans }}
                </a>
            </div>
            <div class="col-sm-4 tile">
                <a class="btn btn-primary btn-block" href="{{ url('admin_tag') }}">
                    <div><i class="glyphicon glyphicon-tags"></i></div>
                    {{ 'tags'|trans }}
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}