{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="row well well-lg col-md-4 col-md-offset-4">
    <div class="text-center">
        <img class="img-rounded" src="{{ asset('bundles/flowcodedashboard/images/flowcode-fav-oficial-alpha.png') }}" alt="Welcome to MiWeb" />
        <h3>Panel de Control</h3>

        {% if error %}
        <div class="">{{ error|trans }}</div>
        {% endif %}
    </div>
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" class="form-control" />
        </div>

        <div class="form-group">
            <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control" />
        </div>

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn-block btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </form>
</div>
{% endblock fos_user_content %}
