
{% extends '::backend.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/flowcodeshop/css/new.css') }}" rel="stylesheet" />
{% endblock %}
        
{% block migas %}
    {{parent()}}
    <li><a href="{{ path('admin_shop_dashboard') }}">{{"Tablero de al tienda"|trans}}</a></li>
    <li><a href="{{ path('admin_product') }}">{{ "Productos"|trans }}</a></li>
    <li>{{ "Nuevo producto"|trans }}</li>
{% endblock %}

{% block body %}
<div class="page-header">    
    <h1>{{ "Nuevo producto" |trans|title }}</h1>
    <ul class="record_actions list-inline">
        <li>
            <a href="{{ path('admin_product') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> {{ "Volver a la lista" |trans }}
            </a>
        </li>
    </ul>
</div>

{#{ form(form, { 'style': 'horizontal', 'align_with_widget': true }) }#}

{{form_start(form)}}
<div class="formulario">
    <div class="columna-1">
        {{form_row(form.name)}}
        {{form_row(form.category)}}
        {{form_row(form.price)}}
    </div>
    <div class="columna-2">
        {{form_row(form.mediaGallery)}}
        {{form_row(form.tags)}}
        {{form_row(form.enabled)}}
    </div>
    <div class="menu">
        <div class="menuItem">
            {{form_row(form.submit)}}
        </div>
    </div>
    <div class="contenido">
        {{form_row(form.description)}}
        {{form_row(form.content)}}
    </div>
</div>
{{form_row(form.name)}}
{#{form_end(form , {'render_rest': false})}#}

{% endblock %}
