{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User Group list</h1>
    
    {% if entities %}
        
    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_usergroup_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>
                    {%if entities.roles is defined%}
                        {%for rol in entities.roles%}
                            {{ rol }}
                        {%endfor%}
                        {%else%}
                            {{"Sin roles definidos"}}
                    {%endif%}
                </td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_usergroup_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_usergroup_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No hay grupos definidos...
    {% endif %}

        <ul>
        <li>
            <a href="{{ path('admin_usergroup_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
