{% extends '::base.html.twig' %}

{% block body %}
    <h1>User Group</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {%if roles is defined%}
                        {%for rol in roles%}
                            {{rol}}
                        {%endfor%}
                    {%else%}
                        {{"Sin roles definidos."}}
                    {%endif%}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_usergroup') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_usergroup_edit', { 'id': id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
